.s-section{
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 2rem 3rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: rgba(189, 155, 117, 0.788);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.8);
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
label{
    font-weight: 600;
    font-size: 0.9rem;
}
input, select, textarea fieldset{
    font-family: var(--font-body);
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color:cornsilk;
}
.form-button{
    display: flex;
    gap: 1rem;
}
.form-buttons buttons{
    padding:1rem ;
}
.radio-group{
    display: flex;
    gap: 1.5rem;
}